:root {
  --colors-bg-extension-0: #333333;
  --colors-txt-extension-0: #eeeeee;
  --colors-bg-extension-1: #000000;
  --colors-txt-extension-1: #eeeeee;
  --colors-bg-extension-2: #555555;
  --colors-txt-extension-2: #eeeeee;
}

.extension-dark0 {
  background-color: var(--colors-bg-extension-0) !important;
  color: var(--colors-txt-extension-0) !important;
}
.extension-dark1 {
  background-color: var(--colors-bg-extension-1) !important;
  color: var(--colors-txt-extension-1) !important;
}
.extension-dark2 {
  background-color: var(--colors-bg-extension-2) !important;
  color: var(--colors-txt-extension-2) !important;
}
